<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" id="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="description" content="">
  <meta name="author" content="">

  <% if(typeof stylesheets != 'undefined'){ %>
  <% for(var file in stylesheets){ %>
  <link href="/stylesheets/<%= stylesheets[file] %>" rel="stylesheet">
  <% } %>
  <% } %>
</head>

<body>
  <%- body %>

  <% if(typeof javascripts != 'undefined'){ %>
  <% for(var file in javascripts){ %>
  <script src="<%= javascripts[file] %>"></script>
  <% } %>
  <% } %>
</body>
